.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-size: 70px;
  width: 250px;
  font-family: 'Playfair Display';
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-login {
  width: 300px;
}

.header-login_wrap a {
  color: black;
  text-decoration: none;
}

.header-search {
  width: 800px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-search button {
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-search input {
  font-size: 12px;
  padding: 6px;
  position: relative;
  top: -12px;
  width: 500px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-search input:focus {
  border-bottom: 2px solid #e1bf92;
  top: 1px;
}

.active-btn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.login-hide {
  display: none;
}

.login-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  top: 0;
}

.login-form {
  background: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.login-form img {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.login-form input {
  font-size: 16px;
  width: 350px;
  font-family: sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

.login-form input:focus {
  border-bottom: 1px solid #e1bf92;
}

.login-form button {
  font-size: 18px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 15px;
}

.login-form button:hover {
  background: #e1bf92;
  border: 1px solid #e1bf92;
}

.login-form span {
  color: red;
  margin-top: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

.login-form a {
  font-size: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: grey;
}

.login-form a.register {
  font-size: 14px;
  margin-top: -10px;
}

.login-form a:hover {
  text-decoration: underline;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links a {
  text-align: right;
  font-size: 17px;
  color: #000;
  text-decoration: none;
}

.links a:hover {
  color: gray;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.goods-switcher {
  position: absolute;
  right: 40px;
  top: -30px;
  cursor: pointer;
}

.goods .block {
  position: relative;
  top: -7px;
  width: 200px;
  height: 250px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods .block-small {
  top: 2px;
  width: 100px;
  height: 125px;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.goods .block .img {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
}

.goods .block .img-small {
  width: 100px;
  height: 100px;
}

.goods .block .img button {
  position: absolute;
  background: #e1bf92;
  cursor: pointer;
  color: #000;
  width: 100%;
  bottom: 0;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  opacity: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

.goods .block .img .pic {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.goods .block .img .pic-small {
  width: 100px;
  height: 100px;
}

.goods .block .img:hover button {
  opacity: 1;
}

.price {
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */